# Анализ не поступивших абитуриентов

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Подключение к базе данных Postgres с конкурсными списками Госуслуг

In [2]:
engine = create_engine("postgresql+psycopg2://user:blabla@localhost:5433/user_db")

In [6]:
universities_df = pd.read_sql("SELECT * FROM universitys", engine)
directions_df = pd.read_sql("SELECT * FROM directions", engine)
applicants_df = pd.read_sql("SELECT * FROM applicants", engine)

In [9]:
print(f"Количество университетов: {universities_df.shape[0]}")
print(f"Количество направлений подготовки: {directions_df.shape[0]}")
print(f"Количество абитуриентов: {applicants_df.shape[0]}")

Количество университетов: 56
Количество направлений подготовки: 1101
Количество абитуриентов: 308080

In [10]:
universities_df.head(5)

,id,title,source,url
0,100,Федеральное государственное бюджетное образова...,GOSUSLUGI,https://www.gosuslugi.ru/vuznavigator/universi...
1,101,Федеральное государственное автономное образов...,GOSUSLUGI,https://www.gosuslugi.ru/vuznavigator/universi...
2,103,федеральное государственное бюджетное образова...,GOSUSLUGI,https://www.gosuslugi.ru/vuznavigator/universi...
3,104,Федеральное государственное бюджетное образова...,GOSUSLUGI,https://www.gosuslugi.ru/vuznavigator/universi...
4,105,федеральное государственное бюджетное образова...,GOSUSLUGI,https://www.gosuslugi.ru/vuznavigator/universi...

In [11]:
directions_df.head(5)

,university_id,code,title,education_form,institute,budget_places,total_places,education_price
0,100,2.09.03.01,Программное обеспечение средств вычислительной...,Очная,Минимальные баллы ЕГЭ,57,116,144645.0
1,100,1.01.03.04,Математическое моделирование в экономике и тех...,Очная,Минимальные баллы ЕГЭ,9,25,127067.0
2,100,1.04.03.01,Аналитическая химия,Очная,Минимальные баллы ЕГЭ,8,30,144645.0
3,100,1.06.03.01,Биоэкология и биохимия,Очная,Минимальные баллы ЕГЭ,10,30,144645.0
4,100,2.09.05.01,Автоматизированные системы обработки информаци...,Очная,Минимальные баллы ЕГЭ,14,55,144645.0

In [5]:
applicants_df.head(7)

,university_id,direction_code,reception,id,place,priority,submit,total_points,entrance_exam_points,additional_points,without_entrance_exams,advantage
0,100,3.33.05.01,"Основные места, 7 мест",4019251,1,5,Бумажное,294,"[98, 97, 89]",10,False,None
1,100,3.33.05.01,"Основные места, 7 мест",4224875,2,4,—,281,"[100, 93, 78]",10,False,None
2,100,3.33.05.01,"Основные места, 7 мест",4097223,3,4,—,281,"[88, 100, 83]",10,False,None
3,100,3.33.05.01,"Основные места, 7 мест",3938068,4,3,Электронное,281,"[86, 91, 94]",10,False,None
4,100,3.33.05.01,"Основные места, 7 мест",3563303,5,6,Электронное,280,"[86, 95, 89]",10,False,None
5,100,3.33.05.01,"Основные места, 7 мест",3753858,6,4,—,275,"[85, 97, 83]",10,False,None
6,100,3.33.05.01,"Основные места, 7 мест",4098879,7,2,—,269,"[86, 90, 83]",10,False,None

### Все непоступившие абитуриенты ТИУ

In [12]:
tyuiu_applicants_df = pd.read_csv("ТИУ_непоступившие_абитуриенты_2025.csv")

In [13]:
tyuiu_applicants_ids = tyuiu_applicants_df["Id поступающего"].unique()
tyuiu_applicants_ids.tolist()

[3569367,
 3569474,
 3569695,
 3569749,
 3569801,
 3569989,
 3570260,
 3570427,
 3570506,
 3570532,
 3570589,
 3570627,
 3570884,
 3570934,
 3571009,
 3571049,
 3571074,
 3571388,
 3571539,
 3571626,
 3571641,
 3571774,
 3571885,
 3571945,
 3572276,
 3572362,
 3572677,
 3573031,
 3573093,
 3573163,
 3573223,
 3573329,
 3573348,
 3573658,
 3573703,
 3573909,
 3574469,
 3575796,
 3575797,
 3575798,
 3575799,
 3576231,
 3576420,
 3576560,
 3576939,
 3577420,
 3577421,
 3577422,
 3577748,
 3577871,
 3578267,
 3578366,
 3578797,
 3579019,
 3579081,
 3579239,
 3579284,
 3579354,
 3579355,
 3579356,
 3579810,
 3580806,
 3581036,
 3581084,
 3582346,
 3582453,
 3582881,
 3583221,
 3583542,
 3583854,
 3584352,
 3585364,
 3585555,
 3585773,
 3585906,
 3585907,
 3586558,
 3587287,
 3587379,
 3587587,
 3588086,
 3588284,
 3588431,
 3588520,
 3589303,
 3589717,
 3590148,
 3590149,
 3590333,
 3591077,
 3591784,
 3592248,
 3592370,
 3592600,
 3592660,
 3594126,
 3594313,
 3594314,
 3594461,
 3595967,
 3596417,
 3596598,
 3596599,
 3597612,
 3598088,
 3598692,
 3598693,
 3600383,
 3600525,
 3600659,
 3600730,
 3600762,
 3601143,
 3601144,
 3602136,
 3602138,
 3602282,
 3602493,
 3602809,
 3603010,
 3603260,
 3603261,
 3604288,
 3604369,
 3604532,
 3604584,
 3604644,
 3604751,
 3605299,
 3605300,
 3605714,
 3605795,
 3606112,
 3606224,
 3606518,
 3606555,
 3606678,
 3607189,
 3607325,
 3607420,
 3608512,
 3608811,
 3609272,
 3609462,
 3609654,
 3609660,
 3610503,
 3610574,
 3610834,
 3611069,
 3612072,
 3612148,
 3612206,
 3612459,
 3612700,
 3613002,
 3613090,
 3613091,
 3613092,
 3613093,
 3613717,
 3614030,
 3614776,
 3614905,
 3615102,
 3615182,
 3615339,
 3615654,
 3615840,
 3615879,
 3615921,
 3616482,
 3616680,
 3616742,
 3616743,
 3616744,
 3616861,
 3617363,
 3618139,
 3618681,
 3618993,
 3619136,
 3619669,
 3620468,
 3620503,
 3620520,
 3620967,
 3621016,
 3621924,
 3622104,
 3622219,
 3622276,
 3622461,
 3622676,
 3622994,
 3624117,
 3624147,
 3625028,
 3625085,
 3625649,
 3625725,
 3625881,
 3625988,
 3626366,
 3626383,
 3626952,
 3627312,
 3627325,
 3627373,
 3627398,
 3628380,
 3628898,
 3629004,
 3629036,
 3629092,
 3629097,
 3630195,
 3630743,
 3631009,
 3631013,
 3631299,
 3632163,
 3632310,
 3632704,
 3632828,
 3632904,
 3633331,
 3633720,
 3634017,
 3634152,
 3634190,
 3634498,
 3635690,
 3636081,
 3636325,
 3636697,
 3637481,
 3638074,
 3638214,
 3638613,
 3643616,
 3644277,
 3644505,
 3645131,
 3645327,
 3645812,
 3646177,
 3646529,
 3646674,
 3646675,
 3647014,
 3647015,
 3647068,
 3647206,
 3647412,
 3647413,
 3647414,
 3647450,
 3647563,
 3647867,
 3647868,
 3648195,
 3648309,
 3648351,
 3648542,
 3648546,
 3649034,
 3649064,
 3649420,
 3649431,
 3649446,
 3649474,
 3649733,
 3649734,
 3649814,
 3649832,
 3650122,
 3650306,
 3650551,
 3650552,
 3651252,
 3651385,
 3651386,
 3651611,
 3651713,
 3651834,
 3652056,
 3652971,
 3653048,
 3653428,
 3653891,
 3653892,
 3654187,
 3654473,
 3654516,
 3654533,
 3654713,
 3654861,
 3655414,
 3655456,
 3655461,
 3655797,
 3655976,
 3656191,
 3656397,
 3656762,
 3656863,
 3656892,
 3657715,
 3658308,
 3658726,
 3659974,
 3660427,
 3660621,
 3660775,
 3661665,
 3661841,
 3661901,
 3662266,
 3662403,
 3662672,
 3662706,
 3662763,
 3663023,
 3663085,
 3663588,
 3663894,
 3664530,
 3664575,
 3664663,
 3664696,
 3665121,
 3665467,
 3665953,
 3666914,
 3667056,
 3667536,
 3667867,
 3668963,
 3668971,
 3669512,
 3670030,
 3670342,
 3670782,
 3670912,
 3671106,
 3671611,
 3671698,
 3672020,
 3672060,
 3672400,
 3672502,
 3672765,
 3672786,
 3673166,
 3673818,
 3674644,
 3674664,
 3674861,
 3674960,
 3675613,
 3676039,
 3676599,
 3676828,
 3677300,
 3678349,
 3678885,
 3679390,
 3679567,
 3679780,
 3680071,
 3680266,
 3680843,
 3680963,
 3681280,
 3681305,
 3681322,
 3682096,
 3682415,
 3682682,
 3682759,
 3682862,
 3682998,
 3683028,
 3683659,
 3683708,
 3683836,
 3683856,
 3683937,
 3683972,
 3683992,
 3684129,
 3684701,
 3684923,
 3684930,
 3684988,
 3685382,
 3685570,
 3685580,
 3685757,
 3686524,
 3686697,
 3686939,
 3687302,
 3688112,
 3688170,
 3688475,
 3688480,
 3689025,
 3689333,
 3689695,
 3690034,
 3690105,
 3690127,
 3691156,
 3691636,
 3691905,
 3692001,
 3692202,
 3692211,
 3692405,
 3692629,
 3693216,
 3693265,
 3693626,
 3694302,
 3694493,
 3694684,
 3694897,
 3695457,
 3695883,
 3696291,
 3696540,
 3698026,
 3698667,
 3700566,
 3700693,
 3700852,
 3700980,
 3701466,
 3701502,
 3701606,
 3701836,
 3701837,
 3702247,
 3702666,
 3702702,
 3702896,
 3702897,
 3702898,
 3703070,
 3703295,
 3703590,
 3703591,
 3703592,
 3703766,
 3704492,
 3704538,
 3705466,
 3705467,
 3705531,
 3705891,
 3705967,
 3706580,
 3706581,
 3706582,
 3706583,
 3706584,
 3706585,
 3706882,
 3707234,
 3707511,
 3707512,
 3707513,
 3708444,
 3709798,
 3709799,
 3709800,
 3710585,
 3710659,
 3711862,
 3711883,
 3712358,
 3713132,
 3713554,
 3713555,
 3714431,
 3714666,
 3714853,
 3714920,
 3715939,
 3715984,
 3716067,
 3717170,
 3717171,
 3717207,
 3717262,
 3717430,
 3717431,
 3717969,
 3718156,
 3718251,
 3718722,
 3718723,
 3718724,
 3718725,
 3718929,
 3719693,
 3719812,
 3719939,
 3720288,
 3720289,
 3720290,
 3720291,
 3720295,
 3720398,
 3720440,
 3720914,
 3721053,
 3721062,
 3721524,
 3721525,
 3721526,
 3721527,
 3721528,
 3722732,
 3723491,
 3723754,
 3723920,
 3723921,
 3723934,
 3724726,
 3724801,
 3725172,
 3725173,
 3726169,
 3726170,
 3726171,
 3726353,
 3726542,
 3726603,
 3727442,
 3727443,
 3727759,
 3727841,
 3728019,
 3729070,
 3729433,
 3729720,
 3729825,
 3729831,
 3729891,
 3729907,
 3730754,
 3731076,
 3731499,
 3731886,
 3732021,
 3732370,
 3732381,
 3732455,
 3733930,
 3734414,
 3734455,
 3734502,
 3734795,
 3735345,
 3735463,
 3735515,
 3735985,
 3736192,
 3736785,
 3736897,
 3737554,
 3737617,
 3738022,
 3738063,
 3738473,
 3738665,
 3739120,
 3739893,
 3739940,
 3740100,
 3740385,
 3740900,
 3741177,
 3741628,
 3742391,
 3742768,
 3743083,
 3743162,
 3743165,
 3744054,
 3744343,
 3745274,
 3745444,
 3746640,
 3746757,
 3747044,
 3747050,
 3747204,
 3747547,
 3747976,
 3748046,
 3748238,
 3748293,
 3748452,
 3748907,
 3749350,
 3749677,
 3749678,
 3749679,
 3749680,
 3749754,
 3750033,
 3750121,
 3750150,
 3750584,
 3750612,
 3750634,
 3750635,
 3750758,
 3751114,
 3751297,
 3751298,
 3751299,
 3751379,
 3751561,
 3751957,
 3751958,
 3752695,
 3752817,
 3752818,
 3752819,
 3753468,
 3753716,
 3753717,
 3753718,
 3754265,
 3754332,
 3754838,
 3754839,
 3754840,
 3754841,
 3754842,
 3754994,
 3755041,
 3755795,
 3755796,
 3755938,
 3756864,
 3756866,
 3757239,
 3757257,
 3758097,
 3758098,
 3758272,
 3758328,
 3758880,
 3759066,
 3759067,
 3759068,
 3759069,
 3759070,
 3759071,
 3760267,
 3760363,
 3760364,
 3760365,
 3761043,
 3761137,
 3761228,
 3761282,
 3761484,
 3761485,
 3761486,
 3761487,
 3761488,
 3761537,
 3762731,
 3762732,
 3762804,
 3763295,
 3764013,
 3764014,
 3764015,
 3764016,
 3764489,
 3764776,
 3764897,
 3765206,
 3765288,
 3765289,
 3765290,
 3765291,
 3765953,
 3766230,
 3766475,
 3766476,
 3766477,
 3766478,
 3766736,
 3767590,
 3767591,
 3767592,
 3767593,
 3767594,
 3767595,
 3767596,
 3767597,
 3767598,
 3767985,
 3768324,
 3768621,
 3768730,
 3768837,
 3768838,
 3768839,
 3768840,
 3768841,
 3768842,
 3768843,
 3768844,
 3769094,
 3769678,
 3769809,
 3769824,
 3769964,
 3769965,
 3769966,
 3769967,
 3769968,
 3770568,
 3770828,
 3771154,
 3771155,
 3771604,
 3771818,
 3772398,
 3772564,
 3772565,
 3773493,
 3773500,
 3773575,
 3773686,
 3773791,
 3774283,
 3774876,
 3774877,
 3775152,
 3776064,
 3776101,
 3776829,
 3777011,
 3777426,
 3777699,
 3777811,
 3778201,
 3779135,
 3779217,
 3779492,
 3779854,
 3779913,
 3780004,
 3780773,
 3781107,
 3781109,
 3781210,
 3781227,
 3781563,
 3781753,
 3781908,
 3782233,
 3782275,
 3782627,
 3782653,
 3782694,
 3782801,
 3782941,
 3782972,
 3783320,
 3783349,
 3783422,
 3783507,
 3783538,
 3783814,
 3783831,
 3784016,
 3784123,
 3784433,
 3784730,
 3784734,
 3785094,
 3785598,
 3785738,
 3785823,
 3786276,
 3786359,
 3786437,
 3786487,
 3786631,
 3786641,
 3786936,
 3787565,
 3787683,
 3788486,
 3788534,
 3788658,
 3789165,
 3789413,
 3789818,
 3790150,
 3791190,
 3792465,
 3793099,
 3794076,
 3794437,
 3795135,
 3795136,
 3795137,
 3795174,
 3795203,
 3795727,
 3795728,
 3795800,
 3796235,
 3796236,
 3796237,
 3796238,
 3796239,
 3796896,
 3797435,
 3797436,
 3797437,
 3797438,
 3797566,
 3798023,
 3798024,
 3798025,
 3798026,
 3798213,
 3798788,
 3798886,
 3798887,
 3798888,
 3798889,
 3798890,
 3799020,
 3799391,
 3799907,
 3799908,
 3799909,
 3799910,
 3799911,
 3799912,
 3799948,
 3800157,
 3800478,
 3800551,
 3800635,
 3800636,
 3800637,
 3800638,
 3800639,
 3800926,
 3801453,
 3801476,
 3801623,
 3801624,
 3801728,
 3802635,
 3802636,
 3802906,
 3803113,
 3803687,
 3803688,
 3803689,
 3804081,
 3804171,
 3804875,
 3804876,
 3804958,
 3804964,
 3805165,
 3805173,
 3805200,
 3805234,
 3805242,
 3805563,
 3805931,
 3806117,
 3806194,
 3806195,
 3806713,
 3807144,
 3807145,
 3807146,
 3807147,
 3807175,
 3807625,
 3807749,
 3808034,
 3808192,
 3808193,
 3808194,
 3808195,
 3808266,
 3808554,
 3809316,
 3809317,
 3810122,
 3810185,
 3810444,
 3810578,
 3810579,
 3811523,
 3811579,
 3811580,
 3811581,
 3811582,
 3811827,
 3813126,
 3813665,
 3814005,
 3814109,
 3814455,
 3815037,
 3815038,
 3816498,
 3816499,
 3816500,
 3816501,
 3816502,
 3816503,
 3816504,
 3816505,
 3816620,
 3816621,
 3816622,
 3817253,
 3817352,
 3818069,
 3818349,
 3818406,
 3818678,
 3819030,
 3819390,
 3819656,
 3819734,
 3819866,
 3820550,
 3820648,
 3820661,
 3821981,
 3822004,
 3822510,
 3822517,
 3822917,
 3823012,
 3823098,
 3824000,
 3824083,
 3824368,
 3824545,
 3824683,
 3824938,
 3825281,
 3825426,
 3825512,
 3825520,
 3826077,
 3827097,
 3827791,
 3827999,
 3828149,
 3828279,
 3828596,
 3828669,
 3828753,
 3828829,
 3828864,
 3828878,
 3828966,
 3829402,
 3829502,
 3830057,
 3830328,
 3831075,
 3831180,
 3831421,
 3832726,
 3832784,
 3833390,
 3833468,
 3833580,
 3835832,
 3837030,
 3837109,
 3837640,
 3837796,
 ...]

In [15]:
filtered_applicants_df = applicants_df[applicants_df["id"].isin(tyuiu_applicants_ids)]

In [16]:
filtered_applicants_df.shape

(1073, 12)

In [17]:
filtered_applicants_df["university_id"].value_counts()

university_id
118    94
115    66
101    63
159    63
104    58
142    55
123    55
130    47
100    44
152    41
110    40
146    39
105    39
124    32
132    26
128    26
145    21
143    18
141    18
162    18
119    18
121    17
103    17
149    15
120    15
116    14
148    12
147    11
122    10
111     9
131     8
161     8
126     8
107     7
117     6
127     6
160     5
153     4
133     4
151     3
125     3
113     2
150     2
158     2
155     2
144     1
157     1
Name: count, dtype: int64

In [19]:
uni118_applicants_df = filtered_applicants_df[filtered_applicants_df["university_id"] == 118]
uni118_applicants_df.shape

(94, 12)

In [25]:
uni118_applicants_df["total_points"].mean()

np.float64(257.90425531914894)

In [31]:
uni118_applicants_df["total_places"] = (
    uni118_applicants_df["reception"]
    .apply(lambda s: int(s.split(",")[1].split(" ")[1]))
)
uni118_applicants_df["total_places"]

C:\Users\andre\AppData\Local\Temp\ipykernel_29736\2878704886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uni118_applicants_df["total_places"] = (

77255      42
87161      20
89165      20
96396     126
97185     126
         ...
150315     51
150430      7
150599     20
150939     20
151002     20
Name: total_places, Length: 94, dtype: int64

In [32]:
uni118_applicants_df

,university_id,direction_code,reception,id,place,priority,submit,total_points,entrance_exam_points,additional_points,without_entrance_exams,advantage,total_places
77255,118,5.42.03.02,"Основные места, 42 места",4149368,23,1,Электронное,304,"[100, 100, 94]",10,False,None,42
87161,118,7.45.03.02,"Основные места, 20 мест",3612072,1201,1,—,236,"[84, 73, 76]",3,False,None,20
89165,118,7.45.03.02,"Основные места, 20 мест",3814109,1274,5,—,231,"[88, 73, 66]",4,False,None,20
96396,118,1.01.03.02,"Основные места, 126 мест",4281250,166,1,—,308,"[100, 98, 100]",10,False,None,126
97185,118,1.01.03.02,"Основные места, 126 мест",4106141,950,1,—,278,"[92, 93, 91]",2,False,None,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150315,118,8.54.03.01,"Основные места, 51 место",4554507,537,2,Электронное,222,"[90, 69, 63]",0,False,None,51
150430,118,8.54.03.01,"Отдельная квота, 7 мест",4833651,58,2,Электронное,229,"[75, 81, 73]",0,False,None,7
150599,118,7.45.03.02,"Основные места, 20 мест",4149368,156,5,Электронное,291,"[88, 94, 100]",9,False,None,20
150939,118,7.45.03.02,"Основные места, 20 мест",4661163,504,1,—,273,"[98, 94, 78]",3,False,None,20
151002,118,7.45.03.02,"Основные места, 20 мест",3721526,568,3,—,270,"[81, 89, 100]",0,False,None,20

In [38]:
uni118_applicants_df["is_entered"] = (
    (uni118_applicants_df["place"] < uni118_applicants_df["total_places"]) &
    (uni118_applicants_df["priority"] == 1)
)

C:\Users\andre\AppData\Local\Temp\ipykernel_29736\56427406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uni118_applicants_df["is_entered"] = (

In [39]:
uni118_applicants_df["is_entered"].value_counts()

is_entered
False    91
True      3
Name: count, dtype: int64

In [40]:
entered_applicants_df = uni118_applicants_df[uni118_applicants_df["is_entered"] == 1]

entered_applicants_df

,university_id,direction_code,reception,id,place,priority,submit,total_points,entrance_exam_points,additional_points,without_entrance_exams,advantage,total_places,is_entered
77255,118,5.42.03.02,"Основные места, 42 места",4149368,23,1,Электронное,304,"[100, 100, 94]",10,False,None,42,True
98622,118,2.09.03.04,"Основные места, 104 места",4091168,59,1,Электронное,269,[0],6,True,None,104,True
99986,118,5.58.03.01,"Основные места, 7 мест",4345449,1,1,Электронное,81,[0],6,True,None,7,True